/* Main CSS file of TUP Election System */

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(34, 34, 34, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(189, 32, 49, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(189, 32, 49, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #bd2031;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #bd2031;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #bd2031;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #222222;
}

#brand {
  width: 40px;
  margin-top: -10px;
}

#login-bg {
  background-color: white;
}

.red-text {
  color: #bd2031;
}

.red-bg {
  background-color: #c33645;
}

main .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 25px;
}

.red-button {
  background-color: #ca4c5a;
}

.footer-black {
  background-color: #333;
  color: #ffffff;
  width: 100%;
  margin-top: 20px;
}

.progress-box {
  position: relative;
}

.box.box-solid.box-danger>.box-header {
  background: #bd2031;
  background-color: #bd2031;
}

.margin-select {
  margin-left: -5%;
}

main .form-control {
  border-radius: 0;
}

.title-election {
  color: #ffffff;
  margin-top: 13.7;
}

.strong {
  font-weight: bold;
}

.yellow-text {
  color: #f5d02a;;
}

.darkgreen-bg {
  background-color: #355C7D;
  color: #ffffff;
}

.darkgreen-bg:hover {
  color: #CCCCCC;
}

.position-design {
  background-color: #333;
  color: #f5d02a;
  text-align: center;
  margin: 1%;
  font-size: 18px;

}

.candidate-design {
  text-align: center;
  font-size: 18px;
}

.thank-vote {
  margin: auto;
  text-align: center;
  font-size: 20px;
  width: 75px;
}
